<table class='table table-hover table-bordered table-list'>
	<thead>
		<tr>
			<th>Id</th>
			<th>Name</th>
			<th>View</th>
		</tr>
	</thead>
	<tbody>
		<% @students.each do |student| %>
		<% account_info = student.account %>
		<tr>
			<td><%= account_info[:id] %></td>
			<td><%= account_info[:last] + ', ' + account_info[:first] %></td>
			<td><a href='<%= admin_user_path(account_info) %>'><i class='fa fa-eye'></i></a></td>

		</tr>
		<% end %>
	</tbody>
</table>